<head>
    <link rel="stylesheet" href="~/css/log.css" />
</head>
<div id="message" class="info">
    <h4 id="validcheck" class="info">You must enter same password values</h4>
    <h3>Password must contain the following:</h3>
    <h4 id="chars" class="info">a unique characters</h4>
    <h4 id="letter" class="info">A <b>lowercase</b> letter</h4>
    <h4 id="capital" class="info">A <b>capital (uppercase)</b> letter</h4>
    <h4 id="number" class="info">A <b>number</b></h4>
    <h4 id="length" class="info">Minimum <b>8 characters</b></h4>

</div>