@model PhotoForCreationDto
@{
    ViewData["Title"] = "AddPhoto";
    Layout = "~/Areas/Admin/Views/Shared/_AdminHome.cshtml";
}

<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/components/carousel/">
</head>
@await Component.InvokeAsync("CarDetailList", ViewBag.unit)

<form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="AddPhoto">
    <input type="hidden" asp-for="CarId" />
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more images using this form:</p>
            <input type="file" multiple asp-for="File" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
    @if (TempData["NoPhoto"] != null)
    {
        <h5 class="hata">@TempData["NoPhoto"]</h5>
    }
</form>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
