
@{
    ViewData["Title"] = "ConfirmMailSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Activation Email Send!</h4>
    <p>We send your mail adress.</p>
    <p>Please check your email adress and confirm your account.</p>
</div>

