
@{
    ViewData["Title"] = "ForgotPasswordEmailSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Email Send!</h4>
    <p>We send your password reset mail  your mail adress.</p>
    <p>Please check your email adress and follow  mail credentials.</p>
</div>

