@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

</head>
<form class="form-group" asp-action="ResetPassword" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="hidden" asp-for="Code" />
        <input type="hidden" asp-for="Email" />
        <input id="psw" class="form-control" asp-for="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password">
        <span asp-validation-for="Password"></span>

    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input id="samepasswd" class="form-control" asp-for="ConfirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirm Password">
        <span asp-validation-for="ConfirmPassword"></span>

    </div>

    @if (TempData["ResetPasswordSucceed"] == null)
    {
        <div id="message">
            <h3>Password must contain the following:</h3>
            <p id="validcheck" class="text-danger">You must entersame password values</p>
            <p id="chars" class="text-danger">a unique characters</p>
            <p id="letter" class="text-danger">A <b>lowercase</b> letter</p>
            <p id="capital" class="text-danger">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="text-danger">A <b>number</b></p>
            <p id="length" class="text-danger">Minimum <b>8 characters</b></p>
        </div>
    }
    @if (TempData["PasswordsNotMatch"] != null)
    {
        <small class="form-text text-muted text-danger">@TempData["PasswordsNotMatch"]</small>
    }
    @if (TempData["MailNotFound"] != null)
    {
        <small class="text-danger">@TempData["MailNotFound"]</small>
    }
    @if (TempData["MailNotFound"] != null)
    {
        <small class="text-danger">@TempData["MailNotFound"]</small>
    }

    <input class="btn btn-primary" type="submit" value="Reset" />
    @if (TempData["ResetPasswordSucceed"] != null)
    {
        <small class="text-success">@TempData["ResetPasswordSucceed"]</small>
        <p class="text-black-50">You can login<a asp-action="Login" asp-controller="Account"> here!</a></p>
    }

</form>

<script src="~/js/Validate.js"></script>
